<div id="<%= dom_id status %>">
  <p>
    <strong>Identificador del estado de traslado:</strong>
      <%= status.id %>
  </p>
  <p>
    <strong>Nombre del estado de traslado:</strong>
    <%= status.description %>
  </p>

</div>