
<div class ="container tam-card-personal">
  <div class="row">
      <div class="col md-8">
  <div class="bg-card-personal card  text-white">
    <div class="card-body ">
      <h2 class="card-title"></h2>
      <div class="row">
        <%
=begin%>
 <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div> 
<%
=end%>
          <div class="col text-dark">
            <h3 class="card-title "> EDICIÓN DE USUARIOS</h3>
            <p class="text-center">A continuación digita los datos deL Usuario que deseas editar.</p>
                <div class="centrarcard"><%= render "form", user: @user %></div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

      </div>
  </div>
</div>
