<table class="table  table-striped table-hover text-dark">
        <tr class="text-dark">
          <th>Placa</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
        <% @actives.each do |active| %>
        <tr>
          <td>
            <%= active.plate %>
          </td>
          <td>
            <%= active.name %>
          </td>
          <td>
            <%= active.status %>
          </td>
        </tr>
        <% end %>
</table>