<nav class=" sep navbar navbar-expand-sm bg-rednav navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag("record.png", :class => "", :width => "80px") %>
        </a>
        <div class="text-white"> 
            <h3>APP OPERACIONES</h3>    
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
      
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Maestros</a>
              <ul class="dropdown-menu">

                <li>
                  <a class="dropdown-item" href="">
                    <%= link_to "Ir a zonas", zones_path %>
                  </a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">
                    Centros de Costo
                  </a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">
                    Destinos
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    Ubicación
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        </div>         
      </div>
</nav>