<div id="<%= dom_id relocation %>">
  <p>
    <strong>Date solicited:</strong>
    <%= relocation.date_solicited %>
  </p>

  <p>
    <strong>Date accept:</strong>
    <%= relocation.date_accept %>
  </p>

  <p>
    <strong>:</strong>
    <%= relocation._ %>
  </p>

</div>
