<h1>Editing relocation</h1>

<%= render "form", relocation: @relocation %>

<br>

<div>
  <%= link_to "Show this relocation", @relocation %> |
  <%= link_to "Back to relocations", relocations_path %>
</div>
