<div id="<%= dom_id zone %>">
<!--Se agrega campo para asignarle manualmente el ID a cada registro-->
  <p>
    <strong>id:</strong>
    <%= zone.id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= zone.description %>
  </p>

</div>
